<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="LocalPackages" value="maui-progress-rag-demo/packages" />
        <add key="telerik" value="https://nuget.telerik.com/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <telerik>
            <add key="Username" value="api-key" />
            <add key="ClearTextPassword" value="%TELERIK_API_KEY%" />
        </telerik>
    </packageSourceCredentials>
</configuration>